@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Name:</strong>   Caner Kuru<br />
    <strong>EMail:</strong> <a href="mailto:caner.kuru@yahoo.com">caner.kuru@yahoo.com</a>
</address>